.carousel{
    overflow:hidden;
}
.inner{
    white-space: norap;
    transition: transform 0.3s;
}
.carousel .item{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    height:200px;
    background-color:black;
}